body {
	width: 600px;
	margin: 20px auto;	
	font-family: sans-serif;
}

h2 {
	font-size: 39px;
	line-height: 43px;
}

article img {
	float: left;
	margin-right: 30px;
}

.preview	{
	float: right;
	width: 370;
}

.meta	{
	padding-left: 0;

}

.meta a	{
	display: inline;
	font-style: italic;
	text-decoration: none;
	
}

.meta a:after {
	content: '\\';
	padding-left: 2px;
}

.meta li:last-child:after {
	content: none;
}

.meta li {
	display: inline;
	text-decoration: none;
}

a {
	color: #276056;
	text-decoration: none;

}