 
body {
	font-family: sans-serif;
}

li {
	display: inline;
	padding-right: 10px;
}


ul a {
	text-decoration:none;
}

ul a:hover {  /*how to create a few special things*/
	text-decoration: underline;
}

